<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sh_proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <sh_proxy.Properties.Settings>
            <setting name="sshServer" serializeAs="String">
                <value />
            </setting>
            <setting name="sshUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="sshPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPortHttp" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPortSocks" serializeAs="String">
                <value />
            </setting>
        </sh_proxy.Properties.Settings>
    </applicationSettings>
</configuration>